<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/layout}">
<head>
    <title>Todo list</title>
</head>
<body>
<div layout:fragment="content" class="container">

    <div class="jumbotron">
        <h1>Sample Todo App</h1>
        <p>Allows to add tasks.</p>
        <p>
            <a class="btn btn-lg btn-primary" th:href="@{/}" role="button">Home</a>
        </p>
    </div>
</div>
</body>
</html>